

header {
    width: 100%;
    background: #ecf2fa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    
}

.container-logo {
    display: flex;
    align-items: center;
    height: 100%;
}
.container-logo-img .logo {
    height: 50px;
    width: auto;
    margin-right: 20px;
}

.container-form form {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 22px;
    padding: 6px 16px;
    box-shadow: 0 1px 3px #0001;
}
.container-form input[type="text"] {
    border: none;
    outline: none;
    font-size: 17px;
    padding: 8px 12px;
    border-radius: 8px;
    min-width: 250px;
}
.container-form button {
    background: #3676c9;
    color: #fff;
    border: none;
    border-radius: 16px;
    padding: 7px 18px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;

}
.container-form button:hover {
    background: #265290;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* main {
    padding-top: 90px; 
} */

.sidebar {
    position: fixed;
    left: 0;
    top: 80px;
    width: 100px;
    height: calc(100vh - 110px);
    background: #ecf2fa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    box-shadow: 2px 0 8px #0002;
}
.sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.sidebar-menu a, .sidebar-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3676c9;
    text-decoration: none;
    font-size: 14px;
}
.sidebar-menu a.active,
.sidebar-menu a:hover {
    color: #265290;
    font-weight: bold;
}

.icon-cabecalho{
    display: flex;
    flex-direction: row;
    gap: 10px;


}

.icon-cabecalho a{
    outline: none;
    text-decoration: none;
    color: #3676c9;

}

.icon{
    margin-right: 65px;
}

main {
    padding: 20px;

    margin-right: 100px;
    margin-left: 180px;
    margin-top: 60px;


}


.profile-card {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 650px; 
    max-width: 100%;
    margin: 40px auto; 
    height: 400px;
}


.profile-card .title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    
}


.profile-content-body {
    display: flex;
    align-items: flex-start;
    gap: 40px; 
}


.profile-icon-wrapper {
    flex-shrink: 0; 
    width: 150px;
    height: 150px;
}

.profile-icon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
    border: 4px solid #3366cc; 
    background-color: #f7f7f7; 
}

.form-fields {
    flex-grow: 1; 
}

.form-fields input[type="text"], 
.form-fields input[type="email"], 
.form-fields input[type="password"], 
.form-fields input[type="tel"] {
    padding: 10px;
    margin-bottom: 15px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    font-size: 1em;
    color: #555;
    height: 40px;
}


.full-width {
    width: 100%;
}


.input-group {
    display: flex;
    gap: 10px; 
    margin-bottom: 15px;
}


.input-half {
    flex: 1; 
}





@media (max-width: 850px) {
    
    main {
        margin-left: 0; 
    }
    
    .profile-content-body {
        flex-direction: column; 
        align-items: center; 
        gap: 20px;
    }
}

@media (max-width: 550px) {
    
    .input-group {
        flex-direction: column;
        gap: 0;
    }
  
    .profile-card {
        padding: 20px;
    }
}