.profissionais{
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    background-color: var(--cor-fundo-section-profissional);
}

.dentista__img{
    width: 350px;
}

.texto__profissionais{
    display: flex;
    width: 50%;
    justify-content: flex-end;
    margin-top: 150px;
    margin-left: 160px;


}

.titulo__profissionais {
    font-family: var(--texto);
    font-size: 25px;
    text-align: justify;
    font-weight: bold;
    width: 70%;
    
   

}

.texto{
    font-family: var(--texto);
    font-size: 14px;
    margin-top: 35px;
    text-align: justify;
    width: 75%;
    font-weight: 450;


}